doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/principal.css")
    link(rel="stylesheet" href="/css/layout.css")
    link(rel="stylesheet" href="/css/login.css")
    script(defer src="/css/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js")
    script(defer src="/fontawesome/js/all.min.js")
    title Akuma no mi's store
    style.
      .badge {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 0.2em 0.6em;
        font-size: 0.75em;
      }
  body
    header#header
      nav.navbar.navbar-expand-lg
        a.navbar-brand(href="/")
          img(src="/img/logo.png" alt="Logo")
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href="/#productos") Nuestros productos
            li.nav-item
              a.nav-link(href="/historial_de_compras") Mis compras
            li.nav-item.position-relative
              a.nav-link(href="/wishlist")
                i.fa-solid.fa-heart.fa-beat
                span.badge#wishlist-count 0
            li.nav-item.position-relative
              a.nav-link(href="/carrito")
                i.fa-solid.fa-cart-shopping
                if carritoCount
                  span.badge#cart-count= carritoCount
                else
                  span.badge#cart-count 0
            li.nav-item
              if informacion
                a.nav-link(href="/perfil") Hola #{informacion.nombre.split(' ')[0]}
              else
                a.nav-link(href="/login")
                  i.fa-solid.fa-right-to-bracket
            li.nav-item
              include componentes/toggle-darkmode
    script.
      onload = (event) => {
        const darkmode = document.cookie.split('; ').find(row => row.startsWith('darkmode='));
        if (darkmode) {
          document.getElementById('toggle').checked = darkmode.split('=')[1] === 'true';
          if (document.getElementById('toggle').checked) {
            document.body.classList.add('dark');
          }
        }
        if(toggle.checked) {
          document.body.classList.add('dark');
        }
        else {
          document.body.classList.remove('dark');
        }
        const carritoCount = !{ JSON.stringify(informacion || {}) };
        updateCounts();
      }

      document.getElementById('toggle').addEventListener('change', function(event) {
        const darkModeValue = event.target.checked ? 'true' : 'false';
        document.body.classList.toggle('dark', event.target.checked);
        document.cookie = `darkmode=${darkModeValue};path="/",  expires=Fri, 31 Dec 9999 23:59:59 GMT; SameSite=None; Secure;`;
      });

      function updateCounts() {
        const wishlistCount = fetchWishlistCount();
        document.getElementById('wishlist-count').textContent = wishlistCount;

        //- fetchCartCount().then(cartCount => {
        //-     document.getElementById('cart-count').textContent = cartCount;
        //- }).catch(error => {
        //-     console.error('Fetch error:', error);
        //-     document.getElementById('cart-count').textContent = 0;
        //- });
      }

      // Example fetch/count functions
      function fetchWishlistCount() {
        let cantidadWish = 0;
        try {
          const datos = !{ JSON.stringify(informacion || {}) };
          cantidadWish = datos.wishlist.length;
        }
        catch (error) {

        }



          return cantidadWish || 0;
      }

      function fetchCartCount() {
        //- return fetch('/cantidadItems')
        //-     .then(response => {
        //-         if (!response.ok) {
        //-             throw new Error('Network response was not ok');
        //-         }
        //-         return response.json();
        //-     })
        //-     .then(data => {
        //-         //console.log(data);
        //-         return data.cantidad; // Suponiendo que la respuesta tenga una propiedad 'cantidad'
        //-     })
        //-     .catch(error => {
        //-         console.error('Fetch error:', error);
        //-         return 0; // Valor por defecto en caso de error
        //-     });
      }
      avisoError = (mensaje = "") => {
        let aviso = document.createElement("div");
        aviso.role = "alert";
        aviso.classList.add("alert");
        aviso.classList.add("alert-danger");

        aviso.innerHTML = mensaje;
        let DOMaviso = document.getElementById("aviso");
        DOMaviso.innerHTML = '';
        DOMaviso.appendChild(aviso);

        setTimeout(function () {
          aviso.style.opacity = '0';
          setTimeout(function () {
            DOMaviso.removeChild(aviso);
          }, 1000);
        }, 2000);
        }
      avisoExito = (mensaje = "") => {
        let aviso = document.createElement("div");
        aviso.role = "alert";
        aviso.classList.add("alert");
        aviso.classList.add("alert-success");

        aviso.innerHTML = mensaje;
        let DOMaviso = document.getElementById("aviso");
        DOMaviso.innerHTML = '';
        DOMaviso.appendChild(aviso);

        setTimeout(function () {
          aviso.style.opacity = '0';
          setTimeout(function () {
            DOMaviso.removeChild(aviso);
          }, 1000);
        }, 2000);
        }
