extends layout
block content
  .container.mt-3
    .row.justify-content-center
      .col-md-6.text-center
        h1 Bienvenido a la tienda de frutas del diablo
      if error
        .alert.alert-danger.alert-dismissible.fade.show(role="alert")
          p #{error}
      if success
        .alert.alert-success.alert-dismissible.fade.show(role="alert")
          p #{success}
      div#carouselExampleInterval.carousel.slide.mt-3(data-bs-ride="carousel")
        .carousel-inner
          each img, index in ['/img/foto1.jpg', '/img/foto2.jpg']
            .carousel-item(class=index === 0 ? 'active' : '', data-bs-interval= '2500')
              img.d-block.w-100.h-100(object-fit="cover", src=img, alt=`Slide ${index + 1}`)

        button.carousel-control-prev(type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.visually-hidden Previous

        button.carousel-control-next(type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.visually-hidden Next

      div#productos
      h1.text-center Nuestros productos
      div.contenido
          each product in data
            .col-lg-4.col-md-6.col-sm-12.mb-4
              .card.h-100(style="margin: 10px;")
                .image-container.d-flex.align-items-center.justify-content-center#contenedorImagen
                  img.card-img-top.img-fluid#imagen(src=product.url_Image alt=product.nombre)
                .card-body
                  h5.card-title.fw-bold= product.nombre + " no mi"
                  h6.card-title.fw-bold Tipo: #{product.tipoProducto.valor}
                  p.card-text= product.descripcion
                  p.card-text.fw-bold  Precio: #{product.precio}
                  p.card-text.fw-bold Stock: #{product.stock}
                  
                  i.fa-solid.fa-heart
                  a.card-link(href=`/wishlist/${product.id}`) Añadir a favoritos
                  br
                  br
                  i.fa-solid.fa-cart-shopping
                  a.card-link(href=`/agregarCarrito/${product.id}`) Añadir a Carrito



    script.
      //- const datos = !{JSON.stringify(datos)};
      //- console.log(datos);
