include navbar
block content
  .container.mt-3
    .row.justify-content-center
      .col-md-6.text-center
        h1 Bienvenido a la tienda de frutas del diablo
      if error
        .alert.alert-danger.alert-dismissible.fade.show(role="alert")
          p #{error}
      if success
        .alert.alert-success.alert-dismissible.fade.show(role="alert")
          p #{success}
      div#carouselExampleInterval.carousel.slide.mt-3(data-bs-ride="carousel")
        .carousel-inner
          each img, index in ['/img/foto1.jpg', '/img/foto2.jpg', '/img/foto3.jpg', '/img/foto4.jpg']
            .carousel-item(class=index === 0 ? 'active' : '', data-bs-interval= '2500')
              img.d-block.w-100.h-100(object-fit="cover", src=img, alt=`Slide ${index + 1}`)

        button.carousel-control-prev(type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.visually-hidden Previous

        button.carousel-control-next(type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.visually-hidden Next

      div#productos
      h1.text-center Nuestros productos
      div#aviso
      label(for="filtro") Filtrar por nombre
      input(type="text", onkeyup="filtrar(this.value)", id="filtro", placeholder="Filtrar por nombre", class="form-control")
      //filtrar por tipo (zoan, paramecia, logia)
      label(for="tipoProducto") O bien, filtrar por tipo
      select#tipoProducto(name="tipoProducto", onchange="filtrarTipo(this.value)", class="form-select")
        option(value="") Todos
        each tipo in ['Zoan', 'Paramecia', 'Logia']
          option(value=tipo)= tipo
      div.contenido
        each product in data
          .col-lg-4.col-md-6.col-sm-12.mb-4
            .card.h-100(style="margin: 10px;")
              .image-container.d-flex.align-items-center.justify-content-center#contenedorImagen
                img.card-img-top.img-fluid#imagen(src=product.url_Image alt=product.nombre)
              .card-body
                h5.card-title.fw-bold= product.nombre + " no mi"
                h6.card-title.fw-bold Tipo: #{product.tipoProducto.valor}
                p.card-text= product.descripcion
                p.card-text.fw-bold  Precio: #{product.precio}
                p.card-text.fw-bold Stock: #{product.stock}

                a.add-to-favorites-btn(href=`/wishlist/${product.id}`)
                  i.fa-solid.fa-heart
                  | Añadir a favoritos

                button.add-to-cart-btn(type="button" onclick=`agregar(${product.id})`)
                  i.fa-solid.fa-cart-shopping
                  | Añadir al carrito





    script.
      //- const datos = !{JSON.stringify(datos)};
      //- console.log(datos);
      agregar = (id) => {

        fetch(`/agregar/${id}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
            })
            .then(response => response.json())
            .then(data => {
              console.log(data);
              if (data.error)
                avisoError(data.error);
              else if (data.success)
              {
                avisoExito(data.success);
                document.getElementById('cart-count').textContent = parseInt(document.getElementById('cart-count').textContent) + 1;
              }
              productos.scrollIntoView({
                behavior: 'smooth',
                block: 'start'
                });
            }).catch(error => {
              console.error('Errorrrr:', error);
            })
      }
      let avisoError = (mensaje = "") => {
        let aviso = document.createElement("div");
        aviso.role = "alert";
        aviso.classList.add("alert");
        aviso.classList.add("alert-danger");

        aviso.innerHTML = mensaje;
        let DOMaviso = document.getElementById("aviso");
        DOMaviso.innerHTML = '';
        DOMaviso.appendChild(aviso);

        setTimeout(function() {
          aviso.style.opacity = '0';
          setTimeout(function() {
            DOMaviso.removeChild(aviso);
          }, 1000);
        }, 2000);
      }
      //filtro tipoProducto
      let filtrar = (text) => {
        tipoProducto.value = '';
        let encontrado = false;
        console.log("filtrando por texto " + text);
        //let cards = document.getElementsByClassName('card');
        let cards = document.querySelectorAll('.col-lg-4.col-md-6.col-sm-12.mb-4');

        for (let card of cards) {
          let nombre = card.querySelector('.card-title').textContent;
          if (nombre.toLowerCase().includes(text.toLowerCase())) {
            encontrado = true;
            card.style.display = 'block';
          } else {
            card.style.display = 'none';
            //mostrar mensaje de que no se encontraron resultados en esa busqueda
            //document.querySelector('.contenido').innerHTML = '<h1>No se encontraron resultados</h1>';

          }
        }
        if(!encontrado)
          avisoError('No se encontraron resultados');
      }
      let filtrarTipo = (text) => {
        filtro.value = '';

        let encontrado = false;
        console.log("filtrando por tipo " + text);
        //let cards = document.getElementsByClassName('card');
        let cards = document.querySelectorAll('.col-lg-4.col-md-6.col-sm-12.mb-4');
        //console.log(cards);
        for (let card of cards) {
          let tipo = card.querySelector('h6.card-title').textContent;
          console.log(tipo)
          if (tipo.toLowerCase().includes(text.toLowerCase())) {
            card.style.display = 'block';
            encontrado = true;
          } else {
            card.style.display = 'none';
            //mostrar mensaje de que no se encontraron resultados en esa busqueda
            //document.querySelector('.contenido').innerHTML = '<h1>No se encontraron resultados</h1>';
            //console.log('tipolower'+ tipo.toLowerCase());
            //encontrado=false;
          }
        }
          if(!encontrado)
            avisoError('No se encontraron resultados');
      }
      //- let avisoExito = (mensaje = "") => {
      //-   let aviso = document.createElement("div");
      //-   aviso.role = "alert";
      //-   aviso.classList.add("alert");
      //-   aviso.classList.add("alert-success");

      //-   aviso.innerHTML = mensaje;
      //-   let DOMaviso = document.getElementById("aviso");
      //-   DOMaviso.innerHTML = '';
      //-   DOMaviso.appendChild(aviso);

      //-   setTimeout(function() {
      //-     aviso.style.opacity = '0';
      //-     setTimeout(function() {
      //-       DOMaviso.removeChild(aviso);
      //-     }, 1000);
      //-   }, 2000);
      //- }
