extends layout

block content
    //- h1 Esto sera el apartado de productos
    .row
        each product in data
          .col-lg-4.col-md-6.col-sm-12.mb-4
            .card.h-100(style="margin: 10px;")
              .image-container.d-flex.align-items-center.justify-content-center#contenedorImagen
                img.card-img-top.img-fluid#imagen(src=product.url_Image alt=product.nombre)
              .card-body
                h5.card-title.fw-bold= product.nombre + " no mi"
                h6.card-title.fw-bold Tipo: #{product.tipoProducto.valor}
                p.card-text= product.descripcion
                p.card-text.fw-bold  Precio: #{product.precio}
                p.card-text.fw-bold Stock: #{product.stock}
                
                a.fa-regular.fa-heart
                a.card-link(href="/agregarCarrito/" + product.id) Añadir a Carrito
                //- a.stretched-link(href="/producto/" + product.id)
                    a(href="/producto/" + product.id)


    script.
      const datos = !{JSON.stringify(data)};
      console.log(datos);
